<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:wicket="http://wicket.sourceforge.net/" 
	xml:lang="en" 
	lang="en">
	
<head>
	
</head>

<body>
<wicket:panel>
	<div class="jumpoffMetadataPanel">
	<div class="metadataRowKey">Jumpoff Fedora id:</div><div wicket:id="jumpoffId">[jumpoffId]</div>
	<div class="metadataRowKey">Last edited:</div><div wicket:id="lastEdited">[lastEdited]</div>
	<div class="metadataRowKey">Last edited by:</div><div wicket:id="lastEditedBy">[lastEditedBy]</div>
	<div class="metadataRowKey">This version edited in:</div><div wicket:id="editorMode">[editorMode]</div>
	</div>
</wicket:panel>
</body>
</html>