#### Maven

target/
bin/

#### Eclipse

.project
.classpath
.settings/

#### Mac OS X

.DS_Store

#### Scala

.cache
.tmpBin/
.worksheet/
*.sc

#### (vim?) backup files

~*
.~*

#### Sass Cache (webui)

*.scssc
.sass-cache/

#### IntelliJ 
.idea
*.iml
