<h2>Alternative title</h2>
If the dataset is known under multiple titles, such as subtitles and/or a translation of the title, you can enter these titles in this field. Subtitles are often used to include references to the specific location of the excavation site, the date, or the project code of the site(s). This field may also be used to fill in the report number.<br />See the description of the &#8216;Title' field above for more instructions.<br /><br />When performing a search in Easy, you will be able to find the words from the &#8216;Title' as well as words from the &#8216;Alternative title'. The only difference is that the &#8216;Title' is shown immediately in the list of search results, whereas the &#8216;Alternative title' (just like many other fields) is not shown.<br /><br />Click the [+] button behind a field to add an additional field.<br /><br />
<h2>Examples</h2>
Terrein 16 - Diepriool<br />Meuse Valley Project - macro regional investigations<br />Neolithische depots in Noord-Nederland<br />Archeologische Rapporten 2008-46<br />
<hr />