.wf-heading {
	font-size: 150%;
	line-height: 1.5em;
	padding-top: 0;
	padding-bottom: 0.5em;
}

.wf-subheading {
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 1em;
	line-height: 3em;
}

.wf-subsubheading {
	font-style: italic;
	margin-left: 10px;
	margin-top: 0.5em;
	line-height: 1.2em;
}

.wf-leave {
	margin-left: 20px;
}

.wf-required {
	color: red;
	font-weight: bold;
}

.wf-timeSpent {
	float: right;
	margin-right: 0em;
	line-height: 3em;
}

.wf-timeSpent input {
	width: 2.5em;
	text-align: right;
}

.wf-bold {
	font-weight: bold;
}

.wf-done {
	float: right;
	margin-right: 0em;
}

.wf-doneBy {
	
}

.wf-doneOnDate {
	
}

.remarksTextarea {
	width: 36em;
	height: 7em;
}

.licenseRow:hover {
	background-color: #FFFFFF;
}