@CHARSET "UTF-8";

.resource:hover {
	background-color: #FFFFFF;
}

th {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: black;
	padding: 0.5em;
	background-color: #CCC;
}

.jumpoffMetadataPanel {
	background-color: #F8F8F8;
	padding: 0.5em;
	margin-top: 0.5em;
	max-width: 35em;
}

div.metadataRowKey {
	float: left;
	width: 15em;
	font-weight: bold;
	font-style: italic;
}


	
	