
input.sup_wide {
	width: 330px;
}

.sup-id {

}

/* http://grepcode.com/file/repo1.maven.org$maven2@org.apache.wicket$wicket-extensions@1.3.6@org$apache$wicket$extensions$ajax$markup$html$autocomplete$DefaultCssAutocompleteTextField.css?av=f */
div.wicket-aa {
        background-color: white;
        border-color: #cccccc;
        border-width: 1px;
        border-style: solid;
        padding: 2px;
        margin: 1px 0 0 0;
        text-align: left;
        white-space:nowrap;
        font-size: 0.8em;
}
 
div.wicket-aa ul {
        list-style:none;
        padding: 3px;
        margin:0;
}

div.wicket-aa ul li.selected {	
        background-color: #E6E6E6;
        padding: 2px;
        margin:0;
}