<p>Dear ~RequestNotification.getDepositorName~,</p>
A new permission request has been submitted, which requires your attention.
<blockquote>Name: ~RequestNotification.getRequesterName~ <br />Dataset: ~Dataset.getPreferredTitle~</blockquote>
You can find this request on the tab 'Permissions' of the dataset:
<blockquote><a href="~RequestNotification.getPermissionsTabLink~">~RequestNotification.getPermissionsTabLink~</a></blockquote>
Direct link to the request:
<blockquote><a href="~RequestNotification.getRequestLink~">~RequestNotification.getRequestLink~</a>
<blockquote>
<p>&#160;</p>
</blockquote>
</blockquote>