#login-page #login-options {
    width: 800px;
    height: 200px;
    padding: 1em;
    margin-bottom: 2em;
}
#login-page #option-regular-and-splitter-wrapper {
    display: block;
    width: 52%;
    float: left;
}
#login-page #option-regular-and-splitter-wrapper #option-regular {
	float: left;
	width: 88%;
}
#login-page #option-federation {
    display: block;
    width: 47%;
    float: left;
}
#linking #login-page #vertical-split {
    background: url('splitter_with_link.png') 50% 50% no-repeat;
    width: 32px;
    height: 200px;
    float: right;
}
#login-page #vertical-split {
    background: url('login_splitter.png') 50% 50% no-repeat;
    width: 32px;
    height: 200px;
    float: right;
}
#login-page #no-account {
	clear: both;
}
#login-page .credential-or-information {
	height: 11em;
}
#login-page label {
	width: 7em;
	display: inline-block;	
	font-size: 110%;	
}
#login-page .login {
	line-height: 2.8em;
}
#login-page #option-regular .login {
	margin-top: 1em;
}
#login-page h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}
#login-page div#surf {
	background: url('surf_conext_logo.gif') no-repeat;
	float: right;
	width: 93px;
	height: 59px;
}
#login-page .warn {
	padding: 3px;	
	background: #F9E9C2;
	border: 1px solid #D0960A;				
}
