div {
    &.panel {
        &.panel-default {
            h2 {
                display: inline-block;
                font-size: 1.2em;
                text-transform: uppercase;
                color: $body-text;
            }

            form {
                margin-bottom: 10px;
            }
        }
    }
}
.login-choose-or-link {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.login-choose-or-link span {
    @include border-radius(20px);
    padding: 10px 12px;
    border: 1px solid $panel-default-border;
    background: $panel-default-heading-bg;
}
form.deposit-form .row {
    padding-bottom: 10px;
}

.extra-bottom-spacing {
    padding-bottom: 15px;
}
