div.tree-subtree {
  margin: 0px 0px 0px 18px;
  padding: 0px;
}

div.tree-branch {
  margin: 0px;
  padding: 0px;
}

div.tree-branch-mid {
}

div.tree-branch-last {
}

/* node */

span.tree-junction {
  display: block;
  float: left;
  width: 18px;
}

a.tree-junction-expanded {
  display: block;
  float: left;
  width: 18px;
  background-image: url(tree.gif);
  background-position: -18px center;
  background-repeat: no-repeat;
  text-decoration: none;
}

a.tree-junction-expanded:hover {
  background-position: -54px center;
}

a.tree-junction-collapsed {
  display: block;
  float: left;
  width: 18px;
  background-image: url(tree.gif);
  background-position: 0px center;
  background-repeat: no-repeat;
  text-decoration: none;
}

a.tree-junction-collapsed:hover {
  background-position: -36px center;
}

span.tree-content {
  display: block;
  margin-left: 18px;
}

/* tabletree */

table.tree {
  border-spacing: 0px;
  border-collapse: collapse;
}

table.tree tr.selected {
  background-color: #fad184;
}

table.tree td {
  /* allow tree divs to fill complete td (regretfully height 100% on divs does not work) */
  margin: 0px;
  padding: 0px;
}

/* content */

span.tree-content a {
  color: black;
  text-decoration: none;
}

span.tree-content a:hover {
  text-decoration: underline;
}

span.tree-content .selected {
  background-color: #fad184;
}

.tree-folder-closed {
  padding-left: 18px;
  background-image: url(folder.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

.tree-folder-open {
  padding-left: 18px;
  background-image: url(folder.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

.tree-folder-other {
  padding-left: 18px;
  background-image: url(folder-other.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
