<?xml version="1.0" encoding="UTF-8"?>
<configuration
	scan="true"
	scanPeriod="3 minutes">
	<!--
		must be on the classpath, a logback-test.xml will override
	-->
	<property
		name="LOGDIR"
		value="/var/log/easy-webui"/>

	<!-- For ANSI Eclipse console see http://www.mihai-nita.net/eclipse/ -->
	<appender
		name="COLOR_CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%-5level: %msg %n</Pattern>
		</encoder>
	</appender>

	<root level="warn">
	</root>

	<logger
		name="nl.knaw.dans"
		level="info">
		<appender-ref ref="COLOR_CONSOLE"/>
	</logger>
	<logger
		name="nl.knaw.dans.easy.task"
		level="debug">
	</logger>

</configuration>