<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<body>
<wicket:panel>
	<form wicket:id="form" class="editableContentForm">
		<div wicket:id="content"></div> <!-- class="contentBar" -->
		<div class="controlBar">
			<a href="#" wicket:id="modeLink"><span wicket:id="modeLinkLabel">[mode link]</span></a>
			<a href="#" wicket:id="cancelLink"><wicket:message key="cancelLinkLabel">[cancel link]</wicket:message></a>
		</div>
	</form>
</wicket:panel>
</body>
</html>
