<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%-5level %r [%thread]: %msg %n%caller{1}</Pattern>
		</encoder>
	</appender>

	<!-- For ANSI Eclipse console see http://www.mihai-nita.net/eclipse/ -->
	<appender name="COLOR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%highlight(%-5level %r [%thread]: %msg) %n%cyan(%caller{1})</Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>