<html xmlns:wicket> 
<wicket:panel>
	<table class="panel">
		<thead>
			<tr><th>Relations</th></tr>
		</thead>
		<tfoot></tfoot>
		<tbody>	
			<tr>
				<td>
					<table class="users">
						<tbody>
							<tr wicket:id="repeatingQualifier">
								<td class="qualifierCell">
										<span wicket:id="qualifier"></span>
								</td>
								<td>
									<div class="qualifiedList">
										<ul>
											<li wicket:id="repeatingRelation">
												<a wicket:id="relation"></a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</wicket:panel>
</html>
