<html xmlns:wicket>

<wicket:panel>

<script type="text/javascript"><!--/*--><![CDATA[/*><!--*/  
if (typeof registerUploadEventHandler == 'function')
{
	registerUploadEventHandler(
		'finished',
		function(eventParams)
		{
			var buttons = document.getElementById('depositUploadPanelbuttons');
			if (buttons != null) 
			{
				buttons.style.display="block";
				//var rmButton = document.getElementById('removeMessagesButton');
				//if (rmButton != null) rmButton.style.visibility='visible';
			}
		}
	);
}

function removeMessages()
{
	removeAllFinishedUploads();
	var rmButton = document.getElementById('removeMessagesButton');
	if (rmButton != null) rmButton.style.visibility='hidden';
}

/*-->]]>*/</script>

<div wicket:id="uploadPanel"></div>
<div id="depositUploadPanelbuttons" wicket:id="depositUploadPanelbuttonsPanel" >
	<a wicket:id="popupLink" class="button">Show files...</a>
	<a wicket:id="deleteFilesLink" class="button">Delete all files</a>
	<a onclick="removeMessages();" id="removeMessagesButton" class="button" style="visibility: hidden" href="#">Remove messages</a>
	<div wicket:id="popup"></div>
</div>
</wicket:panel>

</html>
